* {
    box-sizing: border-box;
    font-family: Garamond, serif;
}

a, a:hover, a:visited, a:active {
    text-decoration: none !important;
    color: inherit;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: lavenderblush;
    border-top: 4px solid lavender;
    font-family: Garamond, serif;
    font-size: 1.5em;
}

header {
    background-color: lavenderblush;
    font-family: Garamond, serif;
    font-size: 1.5em;

}



nav {
    padding: 16px;
    border-bottom: 4px solid lavender;

}


.light-green-font {
    color: rgba(86, 156, 86, 0.671);
}

.dark-green-font {
    color: darkolivegreen;
}

.four-by-four-grid {
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: auto;


}

.grid-item {

    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0;
    background-color: lavenderblush;
    padding-bottom: 25px;
}

h1 {
    font-family: Garamond, serif;
    font-size: 3em;

}

h2 {

    font-family: Garamond, serif;
}

h3 {
    font-family: Garamond, serif;
}

div {
    text-align: center;
    font-family: Garamond, serif;
}


tr:nth-child(even) {
    background-color: lavenderblush;
}

.dark-green-background {
    background-color: lavender;
}

td {
    padding-right: 100px;
    padding-left: 0;
}

.center-image {

    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

img {
    align-content: center;
    height: 200px;
}

.center {
    text-align: center;
}
